<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindan.jdy.common.mapper.MaintainFacilityMapper">

	<resultMap id="BaseResultMap" type="com.jindan.jdy.common.pojo.MaintainFacility">
		<id column="id" property="id" />
		<id column="maintain_name" property="maintainName" />
		<id column="insert_time" property="insertTime" />
		<id column="update_time" property="updateTime" />
		<id column="maintain_person" property="maintainPerson" />
		<id column="maintain_type" property="maintainType" />
		<id column="depart_facility_id" property="departFacilityId" />
		<id column="delete_id" property="deleteId" />
		<id column="remark" property="remark" />
		<id column="maintain_content" property="maintainContent" />
	</resultMap>

	<sql id="Base_Column_List">
		id, maintain_name, insert_time, update_time, maintain_person, maintain_type, depart_facility_id, delete_id, remark, maintain_content
	</sql>
	
</mapper>