<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindan.jdy.mapper.RiskSpecialCertificateAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jindan.jdy.common.pojo.RiskSpecialCertificateAccount">
        <id column="rsca_id" property="rscaId" />
        <result column="certificate_no" property="certificateNo" />
        <result column="certificate_holder" property="certificateHolder" />
        <result column="job_category" property="jobCategory" />
        <result column="standard_operation_items" property="standardOperationItems" />
        <result column="certificate_issuing_unit" property="certificateIssuingUnit" />
        <result column="issue_date" property="issueDate" />
        <result column="term_of_validity" property="termOfValidity" />
        <result column="date_of_issue" property="dateOfIssue" />
        <result column="review_period" property="reviewPeriod" />
        <result column="review_date" property="reviewDate" />
        <result column="insert_time" property="insertTime" />
        <result column="delete_id" property="deleteId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rsca_id, certificate_no, certificate_holder, job_category, standard_operation_items, certificate_issuing_unit, issue_date, term_of_validity, date_of_issue, review_period, review_date, insert_time, delete_id
    </sql>

    <!-- update -->
    <update id="updateSave" parameterType="com.jindan.jdy.common.pojo.RiskSpecialCertificateAccount">
        UPDATE risk_special_certificate_account SET certificate_no=#{certificateNo,jdbcType=VARCHAR},term_of_validity=#{termOfValidity,jdbcType=DATE},review_period=#{reviewPeriod,jdbcType=DATE} WHERE rsca_id=#{rscaId,jdbcType=VARCHAR}
    </update>
</mapper>
