<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindan.jdy.mapper.RiskManagementWarningMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jindan.jdy.common.pojo.RiskManagementWarning">
        <id column="rmw_id" property="rmwId" />
        <result column="warning_person" property="warningPerson" />
        <result column="mobile" property="mobile" />
        <result column="warning_content" property="warningContent" />
        <result column="insert_time" property="insertTime" />
        <result column="warning_time" property="warningTime" />
        <result column="delete_id" property="deleteId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rmw_id, warning_person, mobile, warning_content, insert_time, warning_time, delete_id
    </sql>

</mapper>
