<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindan.jdy.common.mapper.StockSpecsDao">

	<resultMap id="BaseResultMap" type="com.jindan.jdy.common.pojo.StockSpecs">
		<id column="id" property="id" />
		<id column="goods_id" property="goodsId" />
		<id column="brand" property="brand" />
		<id column="model" property="model" />
		<id column="unit" property="unit" />
		<id column="number" property="number" />
		<id column="price" property="price" />
		<id column="state" property="state" />
		<id column="create_name" property="createName" />
		<id column="create_id" property="createId" />
		<id column="create_time" property="createTime" />
		<id column="update_time" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, goods_id, brand, model, unit, number, price, state, create_name, create_id, create_time, update_time
	</sql>
	
</mapper>