<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindan.jdy.common.mapper.SysNoticeDao">

	<resultMap id="BaseResultMap" type="com.jindan.jdy.common.pojo.SysNotice">
		<id column="id" property="id" />
		<id column="title" property="title" />
		<id column="content" property="content" />
		<id column="createtime" property="createtime" />
		<id column="opername" property="opername" />
	</resultMap>
	<sql id="Base_Column_List">
		id, title, content, createtime, opername
	</sql>
	
</mapper>