<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindan.jdy.mapper.WaimaoTichengSalesTargetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jindan.jdy.common.pojo.WaimaoTichengSalesTarget">
        <id column="id" property="id" />
        <result column="salesman" property="salesman" />
        <result column="target" property="target" />
        <result column="target_date" property="targetDate" />
        <result column="insert_time" property="insertTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, salesman, target, target_date, insert_time
    </sql>

</mapper>
